<div class="khl-navigation">
	<div class="_inner">
		<div class="navigation-content navigation-content--left">
			<div class="khl-sidebar-btn-togglr">
				<span class="glyphicon glyphicon-align-left"></span>
			</div>
		</div>
		<div class="navigation-content navigation-content--right">
			<div class="nav-user-shortcuts">
				<div class="shortcuts-btn-togglr">
					<span class="_text">
						<span class="user-name">Aisekhiel</span>
						<span class="user-status">Glouton du portefeuille</span>
					</span>
					<span class="_avatar no-foto">
						<span class="magic-placeholder magic-1by1">
							<!-- <img src="{{ asset('images/avatar-test.jpg') }}" /> -->
						</span>
					</span>
				</div>
				<div class="shortcuts-list">
					<a class="item" href="#réglages">
						<span class="_icon glyphicon glyphicon-cog"></span>
						<span class="_text">Réglages</span>
					</a>
					<a class="item" href="#logout">
						<span class="_icon glyphicon glyphicon-off"></span>
						<span class="_text">Déconnexion</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
