@import "../../fixybar/fixybar.less";

// Variables custom
@fixybar-bg: 				@gray-darker;
@fixybar-color: 			@gray-lighter;

.fixybar {
	background: @fixybar-bg url('imgs/sidebar-bg.png') no-repeat center center;
	background-size: cover;
}
