<!DOCTYPE html>
<html>
    <head>
 		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1" name="viewport" />

		<!-- Basic SEO -->
		<title>{% block meta_title %}{% endblock %}{% block meta_title_base %}Kakeïbo{% endblock %}</title>
		<meta name="description" content="{% block meta_desc %}{% endblock %}" />
		<!-- Stylesheets -->
		<link href="{{ asset('css/pkmn-kit.css') }}" rel="stylesheet" />
		{% block stylesheets %}{% endblock %}
		<!-- Javascripts -->
		<script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>

		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
	<body class="pkmn-kit">
		<div class="pk-core">
			<header class="pk-header pk-header--fixed">
				<div class="pk-maximizr">
					<div class="header-logo header-logo--text">
						<a href="{{ path('homepage') }}">Pkmn Kit</a>
					</div>
				</div>
			</header>

			<div class="pk-body">
				<div class="pk-maximizr">
					{% block body %}{% endblock %}
				</div>
			</div>

			<footer class="pk-footer text-center">
				<span class="pkmn-kit-brand">Pkmn <span>Kit</span></span> by <a href="http://litti-aurelien.fr/" target="_blank">Aisekhiel</a>
			</footer>
		</div>
		{% block javascripts %}{% endblock %}
	</body>
</html>
