<!DOCTYPE html>
<html>
    <head>
 		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1" name="viewport" />

		<!-- Basic SEO -->
		<title>{% block meta_title %}{% endblock %}{% block meta_title_base %}Kakeïbo{% endblock %}</title>
		<meta name="description" content="{% block meta_desc %}{% endblock %}" />
		<!-- Stylesheets -->
		<link href="{{ asset('css/kakeibo.css') }}" rel="stylesheet" />
		{% block stylesheets %}{% endblock %}
		<!-- Javascripts -->
		<script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>

		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
	<body class="kkb-body">
		<div class="bs-sidebar">

		</div>
		<div class="kkb-core">
			{% include 'components/header.html.twig' %}

			<div class="kkb-body">
				{% block body %}{% endblock %}
			</div>

			<footer class="kkb-footer text-center">
				Kakeibo by <a href="http://litti-aurelien.fr/" target="_blank">Aisekhiel</a>
			</footer>
		</div>
		{% block javascripts %}{% endblock %}
	</body>
</html>
