// Colors
@fixybar-bg: 				#222;
@fixybar-color: 			whitesmoke;
@fixybar-neighbor-bg: 		#FFF;
@fixybar-neighbor-color: 	#222;
@fixybar-out-color: 		@fixybar-neighbor-color;
@fixybar-in-color: 			@fixybar-color;

// Sizes
@fixybar-header-min-height: 1.8em;
@fixybar-width-wide: 		18em;
@fixybar-width-mini: 		3.3em;
@fixybar-width-wide-md: 	20em;
@fixybar-width-mini-md: 	4.7em;

// Button togglr
@fixybar-btn-tglr-bg: 		rgba(0, 0, 0, .1);
@fixybar-btn-tglr-padding: 	1em;
